* {
  margin: 0;
  padding: 0;
  border: 0;
}

.icon {
  cursor: pointer;
}

.dots {
  cursor: all-scroll;
}

#card-bg {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 40%;
  width: 25%;
  min-width: 350px;
  position: relative;
  box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.9);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 98%;
  height: 60px;
}

.list-title {
  font-weight: lighter;
  margin-left: 10px;
}

.reload-icon {
  margin-right: 10px;
}

form {
  position: relative;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.new-task {
  border: none;
  width: 270px;
  height: 40px;
}

hr {
  background-color: lightgray;
  height: 2px;
  width: 100%;
}

.tasks-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: scroll;
  height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tasks-container::-webkit-scrollbar {
  display: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}

.task .left-side {
  display: flex;
  column-gap: 10px;
}

.completed-container {
  position: absolute;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-text {
  color: black;
  text-decoration: none;
}

.completed-text:hover {
  text-decoration: underline;
}
