* {
  margin: 0;
  padding: 0;
  border: 0;
}

.icon {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

#card-bg {
  background: linear-gradient(219deg, #3270d8, #d28d86);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.editable {
  cursor: text;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.79;
  height: 60%;
  width: 25%;
  min-width: 350px;
  position: relative;
  box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 15px -2px 63px 13px rgba(0, 0, 0, 0.9);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 98%;
  height: 60px;
}

.list-title {
  font-weight: lighter;
  margin-left: 10px;
}

.reload-icon {
  margin-right: 10px;
}

form {
  position: relative;
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}

.new-task {
  border: none;
  width: 270px;
  height: 40px;
}

.tasks-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tasks-container::-webkit-scrollbar {
  display: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.task:nth-child(1) {
  margin-top: 25px;
}

.task .left-side {
  display: flex;
  column-gap: 10px;
}

.completed-container {
  position: absolute;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-text {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.completed-text:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #container {
    height: 90vh;
  }

  .new-task {
    height: 20px;
  }
}
